<!-- ComplementaryFilter launch file -->
<launch>

  #### IMU Driver ###########################################################

  <node pkg="mpu6050_python" type="mpu6050.py" name="mpu6050" 
    output="screen">
    <remap from="/mpu6050" to="/imu/data_raw"/>
  </node>

  #### Complementary filter

  <node pkg="imu_complementary_filter" type="complementary_filter_node"
      name="complementary_filter_gain_node" output="screen">
    <param name="do_bias_estimation" value="true"/>
    <param name="do_adaptive_gain" value="true"/>
    <param name="use_mag" value="false"/>
    <param name="gain_acc" value="0.01"/>
    <param name="gain_mag" value="0.01"/>
  </node>

  #### Rviz
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find imu_complementary_filter)/launch/imu_display.rviz"/>

</launch>